body{
    background-color: beige;
}

#main-header h1{
    color:goldenrod;
    font-size: 50px;
    -webkit-text-stroke:0.8px black ;
    text-align: center;
    font-family:monospace;
    font-variant: small-caps;
    margin-top: 20px;
    margin-bottom:5px;
    padding:2%;
    background-image: url(../odin-recipes/images/background.jpg);
    background-repeat: no-repeat;
    background-position:center;
    border: 6px solid goldenrod;
    background-size:cover;

}

#recipe-menu{
   border:solid;
   border-color:goldenrod;
   background-color:wheat;
   height:auto;
}

.table{
    text-align:center;
    display: block;
}

#horizontal-list li{
    display:inline-block;
    padding-right: 20px;
    font-family:'Courier New', Courier, monospace;
    color: rgb(182, 133, 8);
    margin-bottom: 20px;
}
img{
    width: 400px; 
    height: 300px;
    border: 5px double silver;
    border-radius: 50px;
}
img:hover{
    opacity:0.8;
}



a:link{
    color:skyblue;
    text-decoration: none;
}

a:visited{
    text-decoration:none;
    color:unset;
}

a:hover {
    color:tomato;
    text-decoration: none;
  }